In [34]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [35]:
#Let's review how we will use our dependencies. We'll use Pandas to read our CSV file and create the locations 
#and measurements from the DataFrame. We'll use gmaps and the API key to create heatmaps and the locations map, 
#and we'll use the requests dependency to make a request to the Google Places JSON file. This will allow us to get hotel locations 
#from the latitude and longitude of the city.

#Next, we'll read our cities.csv file into a DataFrame. Add the following code and run it to create the DataFrame.

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-09-22 17:06:28,-23.1203,-134.9692,72.90,72,19,13.29
1,1,Lebu,CL,2022-09-22 17:04:08,-37.6167,-73.6500,54.23,78,92,6.04
2,2,Oranjestad,AW,2022-09-22 17:06:28,12.5240,-70.0270,87.75,66,75,8.05
3,3,Tuktoyaktuk,CA,2022-09-22 17:06:29,69.4541,-133.0374,33.80,100,100,9.22
4,4,Punta Arenas,CL,2022-09-22 17:06:29,-53.1500,-70.9167,46.51,66,0,10.36

In [36]:

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [37]:
#Create a Maximum Temperature Heatmap
#First, tell gmaps to use your API key. You only need to configure gmaps to use your API key once.

#Add the following code to a new cell and run the cell.

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [39]:
#Add the locations array and the values from the maximum temperature from our city_data_df DataFrame for 
#Steps 1 and 2 and the rest of the code above.

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(39.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Oranjestad,AW,2022-09-22 17:06:28,12.5240,-70.0270,87.75,66,75,8.05
12,12,Ternate,ID,2022-09-22 16:59:57,0.8000,127.4000,80.37,75,76,0.87
13,13,Vila Velha,BR,2022-09-22 16:59:57,-20.3297,-40.2925,85.95,65,0,16.11
14,14,Sao Joao Da Barra,BR,2022-09-22 16:59:58,-21.6403,-41.0511,84.29,84,94,13.22
19,19,Mehriz,IR,2022-09-22 16:59:59,31.5917,54.4318,84.70,18,26,4.03
22,22,Gumia,IN,2022-09-22 17:00:01,23.7833,85.8167,77.67,90,8,3.87
29,29,Ribeira Grande,PT,2022-09-22 17:00:12,38.5167,-28.7000,77.40,83,40,11.50
31,31,Banda Aceh,ID,2022-09-22 17:00:14,5.5577,95.3222,79.84,76,98,11.34
32,32,Tarrafal,CV,2022-09-22 17:00:14,15.2833,-23.7667,80.35,79,99,13.89
33,33,Kita,ML,2022-09-22 17:00:15,13.0349,-9.4895,81.57,79,72,4.45

In [45]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [46]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [47]:
#I had 1 null value so i added the 'dropna()' method at the end of my filtering statement when creating the new dataframe.

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
2          Oranjestad      AW     87.75  12.5240  -70.0270
12            Ternate      ID     80.37   0.8000  127.4000
13         Vila Velha      BR     85.95 -20.3297  -40.2925
14  Sao Joao Da Barra      BR     84.29 -21.6403  -41.0511
19             Mehriz      IR     84.70  31.5917   54.4318
22              Gumia      IN     77.67  23.7833   85.8167
29     Ribeira Grande      PT     77.40  38.5167  -28.7000
31         Banda Aceh      ID     79.84   5.5577   95.3222
32           Tarrafal      CV     80.35  15.2833  -23.7667
33               Kita      ML     81.57  13.0349   -9.4895

In [73]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
#The g_key is our Google API key, so be sure to import the config.py file.

#Next, add the coordinates for the location parameter for each city, which need to be pulled from the Lat
#and Lng columns of the hotel_df DataFrame. We'll need to iterate through the columns of the DataFrame and 
#add the coordinates to the params dictionary before making the request and retrieving the JSON data. 
#However, before iterating through the hotel_df DataFrame, we need to know what the JSON data looks like 
#from a search. Let's practice using a fixed latitude and longitude so we understand where to get the hotel name.

In [51]:
#Practice Using a Fixed Latitude and Longitude
#Create a new Jupyter Notebook file and name it Google_Nearby_Search.ipynb. 
#In the first cell, import your dependencies.

In [74]:
#Recall that when trying to parse the data from an API request, we need to use a try-except block 
#to handle the error with a statement and continue the retrieval.

#If you encounter more errors, add them to the except block—like so, (IndexError, NewError)—and 
#continue running your code until there are no errors.

In [75]:
#Create a Maximum Temperature Heatmap from a Hotel DataFrame
#Before we add pop-up markers with hotel information, let's create a heatmap using the maximum temperature 
#from our hotel_df DataFrame by reusing the code and changing the DataFrame name.

## Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
#If we refer to the gmaps documentation on how to add markers (Links to an external site.), 
#the syntax is markers = gmaps.marker_layer(marker_locations), where the marker_locations are latitudes and 
#longitudes.

#Let's add the markers for each city on top of the heatmap. Edit the code we used to create the 
#heatmap to look like the following:

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
#Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.

#From the gmaps documentation on how to add markers (Links to an external site.), we need to add an info_box_template that has the following syntax.

#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

#For our purposes, we'll add the hotel name, city name, country code, and the maximum temperature values 
#from the hotel_df DataFrame as the description definition. Our code will look like the following.

#info_box_template = """
#<dl>
#<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
#<dt>City</dt><dd>{City}</dd>
#<dt>Country</dt><dd>{Country}</dd>
#<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
#</dl>
#"""

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [79]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))